@import './variables.scss';
@import './reset.scss';
@import './layout.scss';
@import './mixin.scss';

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
    height: 100%;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}


.app-container {
    padding: 20px;
}




.flex-1 {
    flex: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-bt-ai {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// text overflow
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// width, height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.fwb {
    font-weight: bolder;
}

.lh-1 {
    line-height: 1;
}

.rotate180 {
    transform: rotate(180deg);
}

// flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}